
.prompt-line-box{
    display: flex;
    flex-direction: row;
    justify-content: center;      
}

.prompt-line{      
    margin: 25px;
}

.button-find{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    margin: auto;
}

.result-output{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    margin: 12px;
}